.ansi-fg-black {
  color: black;
}
.ansi-fg-red {
  color: #cf3029;
}
.ansi-fg-green {
  color: #00ba3f;
}
.ansi-fg-yellow {
  color: #949900;
}
.ansi-fg-blue {
  color: #004ea8;
}
.ansi-fg-magenta {
  color: #be00be;
}
.ansi-fg-cyan {
  color: #0098be;
}
.ansi-fg-white {
  color: #555554;
}
.ansi-bg-black {
  background-color: black;
}
.ansi-bg-red {
  background-color: #cf3029;
}
.ansi-bg-green {
  background-color: #00ba3f;
}
.ansi-bg-yellow {
  background-color: #949900;
}
.ansi-bg-blue {
  background-color: #004ea8;
}
.ansi-bg-magenta {
  background-color: #be00be;
}
.ansi-bg-cyan {
  background-color: #0098be;
}
.ansi-bg-white {
  background-color: #555554;
}
